@tailwind base;
@tailwind components;
@tailwind utilities;

/* This changes all the animations globally */
:root {
  --animate-duration: 600ms;
  --animate-delay: 0.1s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.space-add-component {
  min-height: 30vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  padding: 1rem 1rem;
}

.space-add-component:hover {
  opacity: 0.5;
  cursor: pointer;
}

.space-add-component-border {
  content: "";
  width: 100%;
  height: 80%;
  position: absolute;
  border: 3px solid #7474e1;
  border-radius: 1rem;
  border-style: dashed;
  margin-left: 1rem;
  margin-right: 1rem;
}

.edit-component-border {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 3px solid #7474e1;
  border-radius: 1rem;
  border-style: dashed;
  z-index: -2;
}

.side-imagee-border-image {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px 20px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #7474e1;
  border-style: dashed;
  border-width: 1px;
  z-index: -4;
}

.common-container {
  max-width: 1600px;
}

.header-side-image {
  height: 70vh;
  display: flex;
  justify-content: center;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
  background-position: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
}

.form-switch .form-check-input {
  margin-top: 0.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
  background-position: 0;
  transition: background-position 0.15s ease-in-out;
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%222%22 fill=%22%23fff%22/%3E%3C/svg%3E");
}
