@tailwind base;
@tailwind components;
@tailwind utilities;

/* This changes all the animations globally */
:root {
  --animate-duration: 600ms;
  --animate-delay: 0.1s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.space-add-component {
  min-height: 30vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  padding: 1rem 1rem;
}

.space-add-component:hover {
  opacity: 0.5;
  cursor: pointer;
}

.space-add-component-border {
  content: "";
  width: 100%;
  height: 80%;
  position: absolute;
  border: 3px solid #7474e1;
  border-radius: 1rem;
  border-style: dashed;
  margin-left: 1rem;
  margin-right: 1rem;
}

.edit-component-border {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 3px solid #7474e1;
  border-radius: 1rem;
  border-style: dashed;
}

.common-container {
  max-width: 1600px;
}

.header-side-image {
  height: 70vh;
  display: flex;
  justify-content: center;
}
